{% extends "mysite/base.html" %}

<h1 class='label'><a>Emailhost</a></h1>

{% block content %}
      <a class="btn btn-default" href="{% url 'emailhostinsert'                      %}" >Add emailhost</span></a>
      <a class="btn btn-default" href="{% url 'bookmarkinsert'                       %}" >Add bookmark</span></a>
      <a class="btn btn-default" href="{% url 'categoryinsert'                       %}" >Add category</span></a>
      <a class="btn btn-default" href="{% url 'identifierinsert'                     %}" >Add identifier</span></a>
      <a class="btn btn-default" href="{% url 'identifier2insert'                    %}" >Add identifier2</span></a>
      <a class="btn btn-default" href="{% url 'loginlist'  %}">                     <span>Logins</span></a>
      <a class="btn btn-default" href="{% url 'logininsert'                          %}" >Add login</span></a>
      <a class="btn btn-default" href="{% url 'menu'                                 %}" >Menu</span></a>
<hr>

<h2>
<table>
{% for emailhost in emailhosts %}
    <tr>
    <h2 class='item'>
    <td> <a class="btn btn-default" href="{% url 'emailhostdeleteperm' pk=emailhost.pk %} "> <span class="glyphicon glyphicon-remove"></span></a> </td>
    <td>                                                                                   <span class='detail'>{{ emailhost.name }}</span> </td>
    </tr>
{% endfor %}
</table>
</h2>
</body>
{% endblock content %}
