{% extends "base.html" %}

<h1 class='label'><a>Categories</a></h1>

{% block content %}
<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<a class="btn btn-default" href="{% url 'categoryinsert' %}" >                                      <span>Add Category</span></a>
<hr>

<h2>
<table>
{% for category in categorys %}
    <tr>
    <h2 class='item'>
    <td> <a class="btn btn-default" href="{% url 'categorysearchb' pk=category.pk %} "> <span >Bookmarks</span></a> </td>
    <td> <a class="btn btn-default" href="{% url 'categorysearchm' pk=category.pk %} "> <span >Memos</span></a> </td>
    <td> <a class="btn btn-default" href="{% url 'categoryupdate' pk=category.pk %} "> <span class="glyphicon glyphicon-pencil"></span></a> </td>
    <td> <a class="btn btn-default" href="{% url 'categorydeleteperm' pk=category.pk %} "> <span class="glyphicon glyphicon-remove"></span></a> </td>
    <td>                                                                                   <span class='detail'>{{ category.name }}</span> </td>
    </tr>
{% endfor %}
</table>
</h2>
</body>
{% endblock content %}
