{% extends "base.html" %}
{% block content %}

<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >                              <span>Past events</span></a>
<a class="btn btn-default" href="{% url 'eventoldlist' 'forward'  %}" >                                <span>Old events</span></a>
<a class="btn btn-default" href="{% url 'eventoldlist' 'reverse'  %}" >                                <span>Old events rev</span></a>

<h2>
{% for event in events %}
    {% if event.sameday == False %} 
          <h2>
          <hr>
          <span class='date' style='color:{{site.datecolour}}'> {{ event.event_date|date:"l" }} {{ event.event_date|date:"jS F Y" }} </span>>
          </h2>
    {% endif %}
    <h2>
    <p>
     <a class="btn btn-default" href="{%                     url 'eventoldinsertupdate'   pk=event.pk mode="update"     %} "> 
     <span class="glyphicon glyphicon-pencil" style="color:black"></span></a>
     <a class="btn btn-default"           href="{%           url 'eventoldchange'         pk=event.pk mode="deleteperm" %} "> 
     <span class="glyphicon glyphicon-remove" style="color:black"></span></a>

    <a class="item"><span class="detail" style="color:{{site.detailcolour}}" >{{ event.detail}}</span></a>
    </p>
    </h2>
{% endfor %}
         
</body>
{% endblock content %}


{% comment %}
{% if photos %}
    <br><br>
    <hr class=end>
    <h1 class="label">Pictures</h1>
{% endif %}

<ul>
{% for photo in photos %}
	<hr>
    <h2 class='item'>                                                                <span class='detail'>  {{photo.title}}                 </span></h2>
    <a class="btn btn-default" href="{% url 'photopriorityupdate' pk=photo.pk %}">   <span>                 Update priority                 </span></a>
    <a class="btn btn-default" href="{% url 'phototitleupdate' pk=photo.pk %}">      <span>                 Update title                    </span></a>
    <a class="btn btn-default" href="{% url 'photodelete' pk=photo.pk %}">           <span>                 Delete photo                    </span></a>
    <h2 class="label">                                                               <span class='date'>    Priority = {{photo.priority}}   </span></h2>
    <img src="{{ photo.cover.url}}", height="auto", width="1170", alt="{{ photo.title }}">
{% endfor %}
</ul>
{% endcomment %}
