{% extends "base.html" %}

<h1 class='label'><a>Identifiers</a></h1>

{% block content %}
<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<a class="btn btn-default" href="{% url 'identifierinsert' %}" >                                    <span>Add Identifier</span></a>
<hr>

<h2>
<table>
{% for identifier in identifiers %}
    <tr>
    <h2 class='item'>
    <td> <a class="btn btn-default" href="{% url 'identifiersearch' pk=identifier.pk %} "> <span class="glyphicon glyphicon-search"></span></a> </td>
    <td> <a class="btn btn-default" href="{% url 'identifierupdate' pk=identifier.pk %} "> <span class="glyphicon glyphicon-pencil"></span></a> </td>
    <td> <a class="btn btn-default" href="{% url 'identifierdeleteperm' pk=identifier.pk %} "> <span class="glyphicon glyphicon-remove"></span></a> </td>
    <td>                                                                                   <span class='detail'>{{ identifier.name }}</span> </td>
    </tr>
{% endfor %}
</table>
</h2>
</body>
{% endblock content %}
