{% extends "base.html" %}

{% block content %}
<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >                              <span>Past events</span></a>
<a class="btn btn-default" href="{% url 'eventinsertupdate' pk=0 mode='insert' %}" >                <span>Add event</span></a>
<a class="btn btn-default" href="{% url 'photolist'  %}">                                           <span>Photos</span></a>
<a class="btn btn-default" href="{% url 'photoinsert' %}">                                          <span>Add Photo</span></a>
<a class="btn btn-default" href="{% url 'photolistdeleted' %}">                                     <span>Deleted photos</span></a>
<a class="btn btn-default" href="{% url 'medreadinglist'  %}">                                      <span>Medreadings</span></a>
<a class="btn btn-default" href="{% url 'medreadinginsert' %}">                                     <span>Add Medreading</span></a>
<a class="btn btn-default" href="{% url 'siteupdate' pk=site.pk %}">                                <span>Colours</span></a>
<a class="btn btn-default" href="{% url 'password' %}">                                             <span>Password</span></a>
<a class="btn btn-default" href="{% url 'noteupdate' pk=site.pk %}">                                <span>Note</span></a>
<br>
<a class="btn btn-default" href="{% url 'bookmarklist'  %}">                                        <span>Bookmarks</span></a>
<a class="btn btn-default" href="{% url 'bookmarkinsert'%}" >                                       <span>Add Bookmark</span></a>
<a class="btn btn-default" href="{% url 'categorylist'  %}">                                        <span>Categories</span></a>
<a class="btn btn-default" href="{% url 'categoryinsert' %}" >                                      <span>Add Category</span></a>
<a class="btn btn-default" href="{% url 'identifierlist'  %}">                                      <span>Identifiers</span></a>
<a class="btn btn-default" href="{% url 'identifierinsert' %}" >                                    <span>Add Identifier</span></a>
<a class="btn btn-default" href="{% url 'emailhostlist'  %}">                                       <span>Emailhosts</span></a>
<a class="btn btn-default" href="{% url 'emailhostinsert' %}" >                                     <span>Add Emailhost</span></a>
<a class="btn btn-default" href="{% url 'identifier2list'  %}">                                     <span>Identifier2s</span></a>
<a class="btn btn-default" href="{% url 'identifier2insert' %}" >                                   <span>Add Identifier2</span></a>
<a class="btn btn-default" href="{% url 'loginlist'  %}">                                           <span>Logins</span></a>
<a class="btn btn-default" href="{% url 'logininsert' %}" >                                         <span>Add Login</span></a>
<hr>

{% comment %}
<h2> <a > <span>Memos</span></a> </h2>
     <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Memos</span></a> </td>
     <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Categories</span></a> </td>
    <h1 class='label'> <a class="detail" href="{% url 'memolist' 'category' %} "> <span>Cat1</span></a> </td>
</table>
<table>
                                                                                       <span class='date'>{{ memo.category1 }}</span> 
                                                                                       <span class='date'>{{ memo.category2 }}</span> 
                                                                                       <span class='date'>{{ memo.category3 }}</span> 
{% endcomment %}

<h2>
{% for memo in memos %}
    <h2 class='item'>
     <a class="btn btn-default" href="{% url 'memoupdate'     pk=memo.pk %} "> <span class="glyphicon glyphicon-pencil"></span></a> 
     <a class="btn btn-default" href="{% url 'memodeleteperm' pk=memo.pk %} "> <span class="glyphicon glyphicon-remove"></span></a> 
     <a                         href='{{memo.content}}' target='_blank'             > <span class='detail'>{{ memo.content }}</span> </a> 
    <hr>
{% endfor %}
</h2>
</body>
{% endblock content %}
