{% extends "base.html" %}

{% block content %}
<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<hr>

<h2>
{% for memo in memos %}
    <h2 class='item'>
     <a class="btn btn-default" href="{% url 'memoupdate'     pk=memo.pk %} "> <span class="glyphicon glyphicon-pencil"></span></a> 
     <a class="btn btn-default" href="{% url 'memodeleteperm' pk=memo.pk %} "> <span class="glyphicon glyphicon-remove"></span></a> 
     <a                         > <span class='detail'>{{ memo.content|linebreaks }}</span> </a> 
    <hr>
{% endfor %}
</h2>
</body>
{% endblock content %}
