{% extends "base.html" %}
{% block content %}

{% if liveness == 'live' %}
    <h1 class='label'><a>Photos</a></h1>
{% else %}
    <h1 class='label'><a>Deleted photos</a></h1>
{% endif %}

<br><br>
    <p>
<a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >                                <span>Current events</span></a>
<a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >                              <span>Past events</span></a>
<a class="btn btn-default" href="{% url 'eventinsertupdate' pk=0 mode='insert' %}" >                <span>Add event</span></a>
<a class="btn btn-default" href="{% url 'photolist'  %}">                                           <span>Photos</span></a>
<a class="btn btn-default" href="{% url 'photoinsert' %}">                                          <span>Add Photo</span></a>
<a class="btn btn-default" href="{% url 'photolistdeleted' %}">                                     <span>Deleted photos</span></a>
<a class="btn btn-default" href="{% url 'medreadinglist'  %}">                                      <span>Medreadings</span></a>
<a class="btn btn-default" href="{% url 'medreadinginsert' %}">                                     <span>Add Medreading</span></a>
<a class="btn btn-default" href="{% url 'siteupdate' pk=site.pk %}">                                <span>Colours</span></a>
<a class="btn btn-default" href="{% url 'password' %}">                                             <span>Password</span></a>
<a class="btn btn-default" href="{% url 'noteupdate' pk=site.pk %}">                                <span>Note</span></a>
<br>
<a class="btn btn-default" href="{% url 'bookmarklist'  %}">                                        <span>Bookmarks</span></a>
<a class="btn btn-default" href="{% url 'bookmarkinsert'%}" >                                       <span>Add Bookmark</span></a>
<a class="btn btn-default" href="{% url 'categorylist'  %}">                                        <span>Categories</span></a>
<a class="btn btn-default" href="{% url 'categoryinsert' %}" >                                      <span>Add Category</span></a>
<a class="btn btn-default" href="{% url 'identifierlist'  %}">                                      <span>Identifiers</span></a>
<a class="btn btn-default" href="{% url 'identifierinsert' %}" >                                    <span>Add Identifier</span></a>
<a class="btn btn-default" href="{% url 'emailhostlist'  %}">                                       <span>Emailhosts</span></a>
<a class="btn btn-default" href="{% url 'emailhostinsert' %}" >                                     <span>Add Emailhost</span></a>
<a class="btn btn-default" href="{% url 'identifier2list'  %}">                                     <span>Identifier2s</span></a>
<a class="btn btn-default" href="{% url 'identifier2insert' %}" >                                   <span>Add Identifier2</span></a>
<a class="btn btn-default" href="{% url 'loginlist'  %}">                                           <span>Logins</span></a>
    </p>
<br>
<ul>
  {% for photo in photos %}
	<hr>
      <h2 class="item"><span class='detail'>{{ photo.title }} </span></h2>
      <h2>
      <a class="btn btn-default"     href="{% url 'photoupdate'      pk=photo.pk                   %}">     <span>Update photo              </span></a>
      {% if liveness == 'live' %}
          <a class="btn btn-default" href="{% url 'photochange'      pk=photo.pk mode='deletetemp' %}">     <span>Delete photo              </span></a>
      {% else %}
          <a class="btn btn-default" href="{% url 'photochange'      pk=photo.pk mode='restore'    %}">     <span>Restore photo             </span></a>
          <a class="btn btn-default" href="{% url 'photodeleteperm'  pk=photo.pk                   %}">     <span>Delete photo permanantly  </span></a>
      {% endif %}
      <span class='detail'>Priority = {{photo.priority}}</span></h2>
<h2>
          <img src="{{ photo.cover.url}}", height="auto", width="1100", alt="{{ photo.title }}">
      	</h2>
  {% endfor %}
</ul>

</body>
{% endblock content %}
{% comment %}
      <h2><span class='detail'>Priority = {{photo.priority}}</span></h2>
      <a class="btn btn-default" href="{% url 'photodelete' pk=photo.pk %}"><span>Delete photo</span></a>
{% endcomment %}
